body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'vt323regular';
  font-size: 1.5rem;
  line-height: 0;
}

@font-face {
    font-family: 'vt323regular';
    src: url('font/vt323-regular-webfont.woff2') format('woff2'),
         url('font/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
